$primary-color-1: rgb(98, 98, 98);
$primary-color-2: rgb(130, 192, 199);
$primary-color-3: rgb(94, 200, 212);
$header-border-color: rgb(228, 228, 228);

$border-color-1: rgb(228, 228, 228);
$border-color-2: rgb(88, 153, 161);
$border-color-3: rgb(46, 42, 42);
$border-color-4: rgb(98, 98, 98);

$text-shadow-color-1: rgba(59, 59, 59, 0.4);
$shadow-color-1: rgba(117, 117, 117, 0.4);

$button-backcolor-1: rgb(94, 200, 212);
$button-backcolor-2: rgba(153, 153, 153, 0.4);
$card-price-backcolor-1: rgb(231, 248, 248);

$slider-thumb-color-1: rgb(5, 144, 160);
$slider-thumb-shadow-1: rgba(0, 0, 0, 0.1);

