@mixin display-flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-flex-all-optional($justify-content, $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin display-flex-justify-content($justify-content){
    display: flex;
    justify-content: $justify-content;
}

@mixin display-flex-align-items($align-items){
    display: flex;
    align-items: $align-items;
}

@mixin display-flex-all-optional($justify-content, $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin display-flex-direction-column($justify-content, $align-items){
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}
