@import "color";
@import "mixes";
@import "fonts";
@import "display-settings";
@import "animations";

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


@media screen and (min-width: 1280px) {

    // ------------------------------ header start -----------------------------------

    header{
        @include display-flex-align-items(center);
        width: auto;
        height: 90px;
        border: 1px solid $header-border-color;
        box-shadow: 0px 2px 2px $header-border-color;
        background-color: white;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 999;

        .header-icon-property{
            width: 25%;
            height: 100%;
            border-right: 1px solid $header-border-color;

            .header-icon-link{
                @include width-height-100;
                @include display-flex-all-optional(end, center);
                padding-right: 70px;

                .header-icon{
                    overflow: hidden;

                    .header-icon-img{
                        width: 50px;
                        border-radius: 0px 0px 5px 5px;
                    }
                }
            }
        }

        nav{
            width: 75%;
            padding-left: 70px;
            @include display-flex-align-items(center);

            .header-nav-ul{
                @include display-flex-align-items(center);
                column-gap: 50px;

                li{
                    list-style-type: none;

                    a{

                        span{
                            @include nav-text-fixed;
                            transition: 0.2s;
    
                            &:hover{
                                @include text-properties-optional($primary-color-2, 18px, roboto, 300);
                                transition: 0.2s;
                            }
                        }

                        .header-nav-home-span, .header-nav-hotels-span, .header-nav-rooms-span, .header-nav-booked-rooms-span{
                            @include text-properties-optional($primary-color-2, 18px, roboto, 300); 
                        }
                    }
                }
            }
        }
    }

    // --------------------------------- header end ----------------------------------------


    // --------------------------------- body start ----------------------------------------

    .parent{
        width: 100%;
        padding-top: 90px;
        animation-name: page-to-page;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        .bg-img{
            width: 100%;
            height: 400px;
            background-image: url(./imgs/home-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            .bg-overlay-text{
                width: 1280px;
                margin: 0px auto;
                padding-top: 60px;
                @include display-flex-justify-content(end);
                
                .bg-overlay-text-position{
                    display: inline-block;

                    .fice-stars-title, .stars-div, .five-stars-subtext, .five-stars-see-hotels{
                        @include display-flex-all-center;
                    }
    
                    .fice-stars-title{
                        margin-bottom: 20px;
    
                        .stars-div i{
                            color: white;
                            font-size: 20px;
                            margin: 0px 2px;
                            text-shadow: 0px 3px 3px $text-shadow-color-1;
                        }
    
                        .star-text{
                            @include text-properties-optional(white, 40px, roboto, 300);
                            margin: 0px 10px;
                            text-shadow: 0px 3px 3px $text-shadow-color-1;
                        }
                    }
    
                    .five-stars-subtext{
                        margin-bottom: 30px;
    
                        .star-subtext{
                            @include text-properties-optional(white, 28px, roboto, 200);
                            text-shadow: 0px 3px 3px $text-shadow-color-1;
                        }
                    }
    
                    .five-stars-see-hotels .five-stars-link{
                        width: 115px;
                        height: 40px;
                        @include display-flex-all-center;
                        background-color: rgb(228, 49, 193);
                        border: 0.5px solid rgb(128, 43, 137);
                        border-radius: 6px;
                        transition: 0.3s;
    
                        span{
                            @include text-properties-optional(white, 14px, roboto, 100);
                            text-shadow: 0px 3px 3px $text-shadow-color-1;
                        }
    
                        &:hover{
                            background-color: rgb(254, 110, 242);
                            border: 0.5px solid rgb(128, 43, 137);
                            border-radius: 6px;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .between-section-title{
            @include sides-free-space;
            height: 120px;
            display: grid;
            grid-template-columns: auto 30% auto;

            .side-line-property{
                @include width-height-100;
                @include display-flex-all-center;

                .side-line{
                    width: 100%;
                    height: 2px;
                    
                    border-top: 2px solid $primary-color-1;
                }
            }

            .between-section-title-text{
                @include width-height-100;
                @include display-flex-all-center;

                h2{
                    @include text-properties-optional($primary-color-1, 22px, roboto, 300);
                }
            }
        }

        .guestrooms-browse{
            @include sides-free-space;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 50px;

            .hotel-card{
                width: 390px;
                height: auto;
                position: relative;
                text-shadow: 0px 3px 3px $text-shadow-color-1;
                overflow: hidden;

                .hotel-card-img{
                    width: 100%;
                    height: 260px;
                    margin-bottom: 70px;

                    img{
                        width: 100%;
                    }
                }

                .book-button-slide{
                    height: 70px;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    transition: 0.5s;
                    border: 0.5px solid $border-color-1;
                    background-color: white;

                    h2{
                        width: 100%;
                        height: 70px;
                        @include display-flex-align-items(center);
                        padding-left: 40px;

                        span{
                            @include text-properties-optional($primary-color-1, 14px, roboto, 300);
                            text-shadow: 0px 1px 1px $text-shadow-color-1;
                        }
                    }

                    .view-rooms-link{
                        display: inline-block;
                        width: 100%;
                        height: 40px;
                        background: linear-gradient(rgb(174, 241, 250) ,$primary-color-3) ;
                        border: 0.5px solid $border-color-2;
                        border-radius: 5px;
                        text-align: center;
                        align-content: center;
                        @include text-properties-optional(white, 18px, roboto, 200);
                        text-shadow: 0px 1px 1px $text-shadow-color-1;
                        transition: 0.2s;

                        &:hover{
                            filter: brightness(1.08);
                            transition: 0.2s
                        }
                    }
                }

                &:hover{
                    .book-button-slide{
                        height: 100%;
                        transition: 0.5s;
                    }
                }
            }
        }

        .usp-block{
            @include sides-free-space;
            @include display-flex-justify-content(space-between);
            flex-wrap: wrap;
            margin-bottom: 100px;
    
            .usp-section{
                width: 25%;
                padding: 0px 25px;
                @include display-flex-direction-column(start, center);
    
                .usp-circle{
                    width: 80px;
                    height: 80px;
                    margin-bottom: 20px;
                    @include display-flex-all-center;
                    border: 1px solid $primary-color-3;
                    border-radius: 50%;
    
                    i{
                        color: $primary-color-3;
                    }
                }
    
                h2{
                    @include text-properties-optional($primary-color-1, 18px, roboto, 300);
                    margin-bottom: 20px;
                }
    
                p{
                    @include text-properties-optional($primary-color-1, 14px, roboto, 100);
                    text-align: center;
                    margin-bottom: 20px;
                }
    
                .usp-link{
                    @include text-properties-optional($primary-color-3, 16px, roboto, 200);
    
                }
            }
        }

        footer{
            width: 100%;
            height: 70px;

            .footer-text{
                @include width-height-100;
                @include display-flex-align-items(center);
                background-color: black;

                p{
                    margin-left: 225px;
                    @include text-properties-optional($primary-color-1, 14px, roboto, 100);
                }
            }
        }
    }

    


    // --------------------------------- body end ---------------------------------------

    
}


// ---------------------------------------- responsive ---------------------------------------------


@media screen and (max-width: 1279.9px){

    @media screen and (max-width: 767.9px){
        
        header{
            width: 100%;
            height: 70px;
            border: 1px solid $header-border-color;
            box-shadow: 0px 2px 2px $header-border-color;
            background-color: white;
            display: flex;

            .header-icon-property{
                width: 75%;
                height: 100%;
                border-right: 1px solid $header-border-color;

                .header-icon-link{
                    @include width-height-100;
                    @include display-flex-all-optional(start, center);
                    padding-left: 70px;

                    .header-icon{
                        overflow: hidden;
    
                        .header-icon-img{
                            width: 40px;
                            border-radius: 0px 0px 5px 5px;
                        }
                    }
                }
            }

            nav{
                width: 25%;
                height: 100%;

                ul{
                    display: none;
                }
            }

        }

        .parent{
            width: 100%;

            .bg-img{
                width: 100%;
                height: 400px;
                background-image: url(./imgs/home-bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left center;

                .bg-overlay-text{
                    padding: 60px 20px 0px;
                    @include display-flex-all-center;
                    
                    .bg-overlay-text-position{
                        display: inline-block;
    
                        .fice-stars-title, .stars-div, .five-stars-subtext, .five-stars-see-hotels{
                            @include display-flex-all-center;
                        }
        
                        .fice-stars-title{
                            margin-bottom: 20px;
        
                            .stars-div i{
                                display: none;
                            }
        
                            .star-text{
                                @include text-properties-optional(white, 40px, roboto, 300);
                                margin: 0px 10px;
                                text-shadow: 0px 3px 3px $text-shadow-color-1;
                                text-align: center;
                            }
                        }
        
                        .five-stars-subtext{
                            margin-bottom: 30px;
        
                            .star-subtext{
                                @include text-properties-optional(white, 28px, roboto, 200);
                                text-shadow: 0px 3px 3px $text-shadow-color-1;
                                text-align: center;
                            }
                        }
        
                        .five-stars-see-hotels .five-stars-link{
                            width: 115px;
                            height: 40px;
                            @include display-flex-all-center;
                            background-color: rgb(228, 49, 193);
                            border: 0.5px solid rgb(128, 43, 137);
                            border-radius: 6px;
                            transition: 0.3s;
        
                            span{
                                @include text-properties-optional(white, 14px, roboto, 100);
                                text-shadow: 0px 3px 3px $text-shadow-color-1;
                            }
        
                            &:hover{
                                background-color: rgb(254, 110, 242);
                                border: 0.5px solid rgb(128, 43, 137);
                                border-radius: 6px;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }

            .between-section-title{
                width: 100%;
                height: 70px;
                display: grid;
                grid-template-columns: auto 225px auto;
    
                .side-line-property{
                    @include width-height-100;
                    @include display-flex-all-center;
                    padding: 0px 20px;
    
                    .side-line{
                        width: 100%;
                        height: 2px;
                        
                        border-top: 2px solid $primary-color-1;
                    }
                }
    
                .between-section-title-text{
                    @include display-flex-all-center;
    
                    h2{
                        width: auto;
                        @include text-properties-optional($primary-color-1, 22px, roboto, 300);
                        text-align: center;
                    }
                }
            }

            .guestrooms-browse{
                width: 100%;
                padding: 20px;
                @include display-flex-direction-column(start, center);
                row-gap: 30px;

                // div{
                //     max-width: 350px;
                //     height: 300px;
                //     background-color: red;

                //     .test{
                //         width: 100%;
                //     }
                // }
            }

            .usp-block{
                width: 100%;
                padding: 20px;
                @include display-flex-direction-column(start, center);
                row-gap: 30px;
                
                .usp-section{
                    max-width: 350px;
                    margin: 0px auto 80px;
                    @include display-flex-direction-column(start, center);
        
                    .usp-circle{
                        width: 80px;
                        height: 80px;
                        margin-bottom: 20px;
                        @include display-flex-all-center;
                        border: 1px solid $primary-color-3;
                        border-radius: 50%;
        
                        i{
                            color: $primary-color-3;
                        }
                    }
        
                    h2{
                        @include text-properties-optional($primary-color-1, 18px, roboto, 300);
                        margin-bottom: 20px;
                    }
        
                    p{
                        @include text-properties-optional($primary-color-1, 14px, roboto, 100);
                        text-align: center;
                        margin-bottom: 20px;
                    }
        
                    .usp-link{
                        @include text-properties-optional($primary-color-3, 16px, roboto, 200);
        
                    }
                }
            }

            footer{
                width: 100%;
                height: 70px;
    
                .footer-text{
                    @include width-height-100;
                    @include display-flex-align-items(center);
                    background-color: black;
    
                    p{
                        width: auto;
                        margin: 0px 40px;
                        @include text-properties-optional($primary-color-1, 14px, roboto, 100);
                    }
                }
            }


        }
    }
    
}
